.calculator{
    display: inline-block;
}
.calculator .button{
    width: 6em;
    height: 6em;
}
.calculator .button.text-Clear{
    width: 18em;
}
.calculator .button.text-0{
    width: 12em;
}
.calculator .output{
   border: 1px solid grey;
   height: 6em; 
   position: relative;
}
.calculator .output span {
    position: absolute;
    right: 0.3em;
    bottom: 0.3em;
}